<table>
        <tr>
            <th>id</th>
            <th>obraz</th>
            <th>name</th>
            <th>size</th>
            <th>type</th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
        </tr>

        {{#each this}}
            {{#if name}}
            <tr>
                <td>{{@index}}</td>
                <td><img src="/images/File Types ({{getFileExtension name}}).png" class="table-ico"></td>
                <td>{{name}}</td>
                <td>{{size}}</td>
                <td>{{type}}</td>
                <td><a href="/show?id={{@index}}">SHOW</a></td>
                <td><a href="/info?id={{@index}}">INFO</a></td>
                <td><a href="/download?id={{@index}}">DOWNLOAD</a></td>
                <td><a href="/delete?id={{@index}}">DELETE</a></td>
            </tr>
            {{/if}}
        {{/each}}

</table>