<tr>
    <td>{{name}}</td>
    <td class="weatherTableRowImage"><img src="{{iconUrl}}" alt="{{weather}}"></td>
    <td class="weatherTableRowTemp">
        <div class="tempNumber">{{temp}}&deg;</div>
        <div class="tempDesc">{{weather}}</div>
    </td>
    <td>
        <h3 class="weatherDesc">{{smogTitle}}</h3>
        <div class="weaherText">{{smogDesc}}</div>
        
    </td>
    <td class="weatherTableRowImage"><img src="{{smogUrl}}" alt="{{smogTitle}}"></td>
    <td><a href="{{forecastUrl}}">zobacz</a></td>
</tr>